<form [formGroup]="userForm" (ngSubmit)="submit(userForm)">
<div class="modal-header">
  <h5 class="modal-title font-weight-bolder">Update user</h5>
  <button type="button" class="close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label class="form-label">email</label>
  <input class="form-control" formControlName="email" />
  <label class="form-label">First name</label>
  <input class="form-control" formControlName="firstName" />
  <label class="form-label">First name</label>
  <input class="form-control" formControlName="lastName" />

</div>
<div class="modal-footer border-top-0">
  <button type="button" class="btn btn-outline-primary" (click)="closeModal()">
    Cancel
  </button>
  <button type="submit" class="btn btn-primary">Ok</button>
</div>
</form>
